@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&family=IBM+Plex+Mono:wght@400;600&family=Josefin+Slab:wght@400;600&family=Press+Start+2P&family=Ropa+Sans&family=Ubuntu+Mono:wght@400;700&display=swap');

:root {
    --font1: 'Press Start 2P', cursive;
    --font2: 'IBM Plex Mono', monospace;
    --font3: 'Chivo', sans-serif;
    --font4: 'Ropa Sans', sans-serif;
    --font5: 'Josefin Slab', serif;
    --font6: 'Ubuntu Mono', monospace;
    --color_night1: #5fcde4;
    --color_night2: #cbdbfc;
    --color_day1:#76428a;
    --color_day2:#d77bba;
}


.desktop{
    display: flex;
}

.hide{
    display: none !important;
}

.bars{
    width: 100%;
    position: fixed;
    padding: .3rem 0 0 0;
    color: black;
    text-align: end;
}

.menu_bars{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 50;
    background-color: white;
}

.bars_inside{
    padding: .3rem 0 0 0;
    text-align: end; 
}

.toggle{
    color: black !important;
}

.toggle_inside{
    color: black !important;
}


.bar_btn{
    padding:50px;
}

.menu_bars_container{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.munu_bars_links{
    display: flex;
    justify-content: center;
}

.link_btn{
    margin-top: 40px;
    padding: 30px;
}

/* p{
    text-align: justify;
    text-justify: inter-word;
} */
.set-center{
    align-self: center;
}

.blank{
    padding: 150px;
}

.logo{
    max-width: 260px;
    z-index: 1;
}

.nav-stick{
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
    
}
.a-center{
    align-items: center;
}

.set_margin{
    margin-top:50px;
}

.menu-container{
    padding-right: 1rem;
}

img{
    position: relative;
}

.night_mode_bg{
    background-color: #01072b;
}

.header_section{
    /* background-image: url('img/cover_night_up.png');
    background-repeat: no-repeat;
    background-position: center center; */
    /* background-color: #01072b; */
    /* background-size: 80%; */
    height: 1200px;
}

.cloud{
    z-index: 10;
    width: 500px;
    left:-50%;
    /* margin-left: 100px; */
    margin-top: -50px;
}

.cloud:hover{
    opacity: 50%;
}

.section{
    padding: 100px 0 100px 0;
}

.for-owning{
    margin-top: -50px;
}

.section2{
    padding: 0px 0 100px 0;
}

.section3{
    padding: 50px 0 150px 0;
}

.section4{
    padding: 50px 0 0 0;
}

.section5{
    padding: 50px 0 100px 0;
}

a{
    /* font-family: var(--font2);
    color:var(--color_night2) !important; */
    align-self: center;
    padding: .5rem;
    margin-top: -50px;
    text-decoration: none !important;
}

a i{
    align-self: center;
}

.forOwning_con{
    width: 100%;
}

a:hover{
    cursor: pointer;
    color: var(--color_day1) !important;
}

.text_nigth_1{
    color: var(--color_night1) !important;
}

.text_nighth_2{
    font-family: var(--font2);
    color: var(--color_night2) !important;
}

.text_day_1{
    font-family: var(--font2);
    color: var(--color_day1);
}

.text_day_2{
    font-family: var(--font2);
    color: var(--color_day2);
    font-size: 1rem;
}

.forOwning{
    text-align: center;
}

.forOwning_text{
    justify-self: center;
}




.cp_img_desk{
    width: 25%;
    height: 25%;
}

.cp_img_mobile{
    width:100%;
}

.mp{
    text-align: center;
}

.cb_img{
    width: 100%;
}

/* .flex-end{
    justify-content: flex-end;
} */


.name_pro{
    text-align: center;
    margin-top: 30px;
    font-size: larger;
}

.text_pro{
    text-align: center;
}



.footer_link_container{
    padding-top: 60px;
    position: relative;
    z-index: 10;
}

.footer_link{
    padding: 0 30px;
    color: var(--color_day2) !important;
}

.footer_link:hover{
    color: var(--color_day1) !important;
}

.lower_base{
    text-align: center;
    max-width: 100%;
    /* margin-top: -250px; */
}



.icon_forOwning{
    background-color: #e3e3e3;
    border-radius: 50%;
    border: 2px solid black;
    width: 80px;
    height: 80px;
}

.imgForOwning{
    width: 105px;
    height: 105px;
    margin-top:-16px;
    margin-left: -16px;
}


.forOwning_text{
    padding-left: 50px;
}


.infinity_img{
    max-width: 80%;
    min-width: 250px;
}

.infinite{
    width: 100%;
    
}

.LDPW{
    width: 100%;
    
}

.img_pro{
    width: 200px;
}


.container_my{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    padding: 0 40px;
}

.container_lower_base{
    width: 100%;
    padding-right: var(--bs-gutter-x,1rem);
    padding-left: var(--bs-gutter-x,1rem);
    margin-right: auto;
    margin-left: auto;
}

.padding_left{
    padding-left: 50px;
}

.team_padding{
    display: flex;
    padding: 30px 0;
    flex-direction: column;
}

.percent-text{
    padding-right: 50px;
}

.logo_footer{
    width: 150px;
    
}

.whatare_child{
    margin:0;
}

.whatare_child2{
    margin:0;
}

.property_con{
    display: flex;
    flex-direction: column;
}

.property_text_con{
    width: 100%;
}

.img_pro_con{
    margin:0 auto;
}


body p {
    font-size: 14px;
    line-height: 23px;
}

.size_icon_footer{
    font-size: 2rem;
}


@media (min-width: 561px){
    .container_my{
        max-width: 500px;
        padding: 0;
    }

    .logo{
        max-width: 400px;
    }

    body p {
        font-size: 16px;
        line-height: 25px;
    }
}

.ld_container{
    display: flex;
    flex-direction: column;
}



@media (min-width: 768px){
    .container_my{
        max-width: 730px;
    }

    .logo{
        max-width: 600px;
    }

    .container_lower_base{
        max-width: 900px;
    }

    .team_padding{
        flex-direction: row;
    }

    .name_pro{
        text-align:left;
        padding-left: 50px;
        margin:0;
    }
    
    .text_pro{
        text-align:left;
        padding-left: 50px;
    }

    .ld_container{
        flex-direction: row;
    }

    .infinite{
        width: 50%;
        margin-left: 25px;
    }
    
    .LDPW{
        width: 50%;
        margin-right:25px;
    }

    .size_icon_footer{
        font-size: 4rem;
    }

    .section4{
        padding: 100px 0 0 0;
    }

    .text_day_2{
        font-size: 1.25rem;
    }


}

@media (min-width: 992px){
    .container_my{
        max-width: 900px;
    }

    .logo{
        max-width: 1200px;
    }

    .container_lower_base{
        max-width: 1500px;
        margin-top: -150px;
    }

    .whatare_child{
        margin-right: 25px;
    }

    .whatare_child2{
        margin-left: 25px;
    }

    .property_con{
        flex-direction:row;
    }

    .property_text_con{
        width: 66%;
        margin-left: 25px;
    }

    .forOwning_con{
        width: 66%;
    }

}